# fly.toml app configuration file for protohackers
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'go-rough-smoke-8608'
primary_region = 'fra'

[build]
  [build.args]
    GO_VERSION = '1.24.10'

[env]
  PORT = '8080'

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [[services.ports]]
    port = 10000
    handlers = []

  [[services.tcp_checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1